<!DOCTYPE html>
<html lang="pt-BR">
<head>
    {% include 'global/partials/_head_saidas.html' %}
</head>
<body>
    {% include 'global/partials/_header_saidas.html' %}

    {% include 'global/partials/_messages.html' %}

    {% if user.is_authenticated %}
        <main class="content">
            
            {% block content %}{% endblock content %}
            {% include 'global/partials/_pagination.html' %}
                
        </main>
    {% endif %}
    <!-- {% include 'global/partials/_footer.html' %} -->
</body>
</html>