<header class="header">
    <h1 class="header-heading">
       <a href="{% url 'contact:index' %}" class="header-link">
        Saídas
       </a>
    </h1>

    <nav class="menu">
        <ul class="menu-list">
          {% if user.is_authenticated %}
            <li class="menu-item">
              <a href="{% url 'contact:estoque' %}" class="menu-link">
                Estoque
              </a>
            </li>
            <li class="menu-item">
              <a href="{% url 'contact:saidas' %}" class="menu-link">
                Saídas
              </a>
            </li>
            <li class="menu-item">
              <a href="{% url 'contact:create_saidas' %}" class="menu-link">
                Cadastrar Saída
              </a>
            </li>
            <li class="menu-item">
              <a href="{% url 'contact:entradas' %}" class="menu-link">
                Entradas
              </a>
            </li>
            <li class="menu-item">
              <a href="{% url 'contact:logout' %}" class="menu-link">
                Sair
              </a>
            </li>
          {% else %}
            <li class="menu-item">
              <a href="{% url 'contact:login' %}" class="menu-link">Acessar Área VIP</a>
            </li>      
          {% endif %}
        </ul>
      </nav>
   
    {% if user.is_authenticated %}  
      <h5 class="header-h5">
          <a>
          Pesquisar produto
          </a>
      </h5>
      <div class="search">
          <form action="{% url 'contact:search' %}" method="GET">
              <input 
              type="search" 
              class="search-input" 
              placeholder=""
              id="search"
              name="q"
              value="{{ request.GET.q.strip }}">
          </form>
      </div>
    {% endif %}
</header>