{% extends 'global/base.html' %}
{% load cwsfilters %}

{% block content %}
{% if user.is_authenticated %}
  {% if page_obj %}
      <div class="responsive-table">
          <table id="table-index" class="contacts-table">
              <thead>
                  <tr class="table-row table-row-header">
                      <th onclick="sortTable(0)" class="table-header">Descrição do produto</th>
                      <th onclick="sortTable(1)" class="table-header">Marca</th>
                      <th onclick="sortTable(2)" class="table-header">Categoria</th>
                      <th onclick="sortTable(3)" class="table-header">Preço de custo unitário</th>
                      <th onclick="sortTable(4)" class="table-header">Preço de catálogo</th>
                      <th onclick="sortTable(5)" class="table-header">Data de validade</th>
                      <th onclick="sortTable(6)" class="table-header">Qtd. disponível</th>
                  </tr>
              </thead>
              <tbody>
                  {% for contact in page_obj %}
                      <tr class="table-row">
                          <td class="table-cel">
                              <a class="table-link" href="{% url 'contact:contact' contact.id %}">
                                  {{ contact.descricao_do_produto }}
                              </a>
                          </td>
                          <td class="table-cel">
                              {{ contact.marca|default:"-" }}
                          </td>
                          <td class="table-cel">
                              {{ contact.categoria|default:"-" }}
                          </td>
                          <td class="table-cel">
                              R$ {{ contact.preco_medio_custo|floatformat:2|default_if_none:"0.00" }}
                          </td>
                          <td class="table-cel">
                              R$ {{ contact.preco_de_catalogo|floatformat:2|default_if_none:"0.00" }}
                          </td>
                          <td class="table-cel">
                              {{ contact.data_de_validade|date:"d/m/Y" }}
                          </td>
                          <td class="table-cel">
                              {{ contact.saldo_estoque|default:"0" }}
                          </td>
                      </tr>
                  {% endfor %}
              </tbody>
          </table>
      </div>
  {% else %}
      <div class="single-contact">
          <h3 class="single-contact-name-search">
              Nenhuma informação encontrada.
          </h3>
      </div>
  {% endif %}
{% endif %}
{% endblock content %}