<!DOCTYPE html>
<html lang="pt-BR">
<head>
  {% include 'global/partials/_head.html' %}
</head>
<body>
    {% include 'global/partials/_header_index.html' %}

    {% include 'global/partials/_messages.html' %}

    <div class="imagem logo">
      <p>
        <a>
          <img src="media/logo.png" alt="Logo">
        </a>
      </p>
    </div>

    {% comment %} <main>
        {% block content %}{% endblock content %}
        {% include 'global/partials/_pagination.html' %}
        
    </main> {% endcomment %}
    {% comment %} {% include 'global/partials/_footer.html' %} {% endcomment %}

</body>
  
</html>