<!DOCTYPE html>
<html lang="pt-BR">
<head>
  {% include 'global/partials/_head.html' %}
</head>
<body>
    {% include 'global/partials/_header_index.html' %}

    {% include 'global/partials/_messages.html' %}

{% load static %}
<div class="imagem logo">
  <p>
    <a>
      <img src="{% static 'global/assets/img/logo.png' %}" alt="Logo" width="200 height-200">
    </a>
  </p>
</div>

    {% comment %} <main>
        {% block content %}{% endblock content %}
        {% include 'global/partials/_pagination.html' %}
        
    </main> {% endcomment %}
    {% comment %} {% include 'global/partials/_footer.html' %} {% endcomment %}

</body>
  
</html>