{% extends 'global/base_saidas.html' %}
{% load cwsfilters %}

{% block content %}
{% if user.is_authenticated %}
  {% if page_obj %}
    
      <div class="responsive-table">
          <table id="table-index" class="contacts-table">
              {% comment %} <caption class="table-caption">
                  Lista de produtos para pronta entrega
              </caption> {% endcomment %}
              <thead>
                  <tr class="table-row table-row-header">
                      <th onclick="sortTable(0)" class="table-header">Data de saída</th>
                      <th onclick="sortTable(1)" class="table-header">Descrição do produto</th>
                      <th onclick="sortTable(2)" class="table-header">Quantidade</th>
                      <th onclick="sortTable(3)" class="table-header">Preço de venda</th>
                      <th onclick="sortTable(3)" class="table-header">Preço de custo</th>
                      <th onclick="sortTable(3)" class="table-header">Lucro</th>
                      <th onclick="sortTable(3)" class="table-header">Forma de pagamento</th>
                      <th onclick="sortTable(3)" class="table-header">Cliente</th>
                  </tr>
              </thead>

              {% comment %} <script>
                  function sortTable(n) {
                    var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
                    table = document.getElementById("table-index");
                    switching = true;
                    // Set the sorting direction to ascending:
                    dir = "asc";
                    /* Make a loop that will continue until
                    no switching has been done: */
                    while (switching) {
                      // Start by saying: no switching is done:
                      switching = false;
                      rows = table.rows;
                      /* Loop through all table rows (except the
                      first, which contains table headers): */
                      for (i = 1; i < (rows.length - 1); i++) {
                        // Start by saying there should be no switching:
                        shouldSwitch = false;
                        /* Get the two elements you want to compare,
                        one from current row and one from the next: */
                        x = rows[i].getElementsByTagName("TD")[n];
                        y = rows[i + 1].getElementsByTagName("TD")[n];
                        /* Check if the two rows should switch place,
                        based on the direction, asc or desc: */
                        if (dir == "asc") {
                          if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                            // If so, mark as a switch and break the loop:
                            shouldSwitch = true;
                            break;
                          }
                        } else if (dir == "desc") {
                          if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                            // If so, mark as a switch and break the loop:
                            shouldSwitch = true;
                            break;
                          }
                        }
                      }
                      if (shouldSwitch) {
                        /* If a switch has been marked, make the switch
                        and mark that a switch has been done: */
                        rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                        switching = true;
                        // Each time a switch is done, increase this count by 1:
                        switchcount ++;
                      } else {
                        /* If no switching has been done AND the direction is "asc",
                        set the direction to "desc" and run the while loop again. */
                        if (switchcount == 0 && dir == "asc") {
                          dir = "desc";
                          switching = true;
                        }
                      }
                    }
                  }
                  </script> {% endcomment %}

              <tbody>
                  {% for saidas in page_obj %}
                      <tr class="table-row">
                          <td class="table-cel">
                              {{saidas.data_de_saida|date:"d/m/Y"}}
                          </td>
                          <td class="table-cel">
                              <a class="table-link" href="{% url 'contact:contact_saidas' saidas.id %}">
                                  {{saidas.descricao_do_produto}}
                              </a>
                          </td>
                          <td class="table-cel">
                              {{saidas.qtd}}
                          </td>
                          <td class="table-cel">
                              R$ {{saidas.preco_de_venda|floatformat:2}}
                          </td>
                          <td class="table-cel">
                              R$ {{saidas.preco_de_custo_registrado|floatformat:2}}
                          </td>
                          <td class="table-cel">
                              R$ {{saidas.lucro|floatformat:2}}
                          </td>
                          <td class="table-cel">
                              {{saidas.forma_de_pagamento}}
                          </td>
                          <td class="table-cel">
                              {{saidas.cliente}}
                          </td>
                      </tr>
                  {% endfor %}
              </tbody>
          </table>
      </div>
  {% else %}
      <div class="single-contact">
          <h3 class="single-contact-name-search">
              Nenhuma informação encontrada.
          </h1>
      </div>
  {% endif %}
{% endif %}
{% endblock content %}